name: CI

on: 
  push:
    branches: 
      - 'main'
  workflow_dispatch: 

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup yarn
        uses: borales/actions-yarn@vv3.0.0 
      - name: build
        run: cd docs && yarn && yarn build
      - name: setup oss
        uses: manyuanrong/setup-ossutil@v2.0
        with:
          endpoint: "oss-cn-hangzhou.aliyuncs.com"
          access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          access-key-secret: ${{ secrets.ACCESS_KEY_SECRET }}
      - name: deploy oss
        run: ossutil cp -rf docs/.vuepress/dist/ oss://masa-docs
    
